$theme-colors: (
  "primary": #0275d8,
  "secondary": #9C2AA0,
  "tertiary": #A8B400,
  "danger": #bd0000
);

// Primary colors
$primary-blue: #0275d8;
$primary-red: #d9534f;
$primary-white: #ffffff;

// Background colors
$background-grey: #ebebeb;
$background-blue: #e4f2f2;

// Other
$grey-light: #d3d3d3;