$theme-colors: (
  "primary": #4C7FD0,
  "secondary": #9C2AA0,
  "tertiary": #A8B400,
  "danger": #bd0000
);

// Primary colors
$primary-blue: #4C7FD0;
$primary-red: #d9534f;
$primary-white: #ffffff;

// Background colors
$background-grey: #ced4da;
$background-light-grey: #f1f4f9;
$background-blue: #e4f2f2;
$backgroung-light-blue: #9abef733;

// Other
$grey-light: #d3d3d3;
$grey-font: #3c3a3a69;