<div class="section">
    <div class="row">
        <div class="col-md-8 section-card">
            <div class="row mt-3">
                <div class="col-md-10">
                    <span class="heading">
                        Video Timeline
                    </span>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-outline-success my-2 my-sm-0 ">Add</button>
                </div>

            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3 section-card">
            <div class="row top-section">
                <div class="col-md-12">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <span class="heading">
                        Total time
                    </span>
                </div>
            </div>
            <div class="row mid-section">
                <span>Duration</span>
                <input type="number" value="" min="0" max="30">
                <span>sec</span>
            </div>
            <div class="row bottom-section">
                <span><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>
                <span class="sub-text-sm">Max of 30sec in timeline available for use</span>
            </div>
        </div>
    </div>
</div>