<div class="section">
    <div class="row">
        <div class="col-md-8 section-card">
            <div class="row mt-3">
                <div class="col-md-10 card-heading">
                    <span class="heading">
                        Video Timeline
                    </span>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-outline-success my-2 my-sm-0 add-recording-btn">Add</button>
                </div>
            </div>
            <div class="row">
                <table>
                    <tbody>
                        <tr>
                            <td *ngFor="let video of recordedVideos">
                                <div class="recorded-container">
                                    <div class="recorded-name">
                                        <span class="top-right-badge">
                                            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                                        </span>
                                        <div class="row name-content">
                                            <div class="col-md-12">
                                                {{ video.name }}
                                            </div>
                                        </div>
                                        <div class="row time-content">{{ video.time }}</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3 section-card">
            <div class="row top-section">
                <div class="col-md-12">
                    <span class="top-icon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                    <span class="heading">
                        Total time
                    </span>
                </div>
            </div>
            <div class="row mid-section">
                <span class="text">Duration</span>
                <input class="duration" type="number" value="" min="0" max="30">
                <span class="text">sec</span>
            </div>
            <div class="row bottom-section">
                <span class="bottom-icon"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>
                <span class="sub-text-sm">Max of 30sec in timeline available for use</span>
            </div>
        </div>
    </div>
</div>